/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  section {
    padding: 40px 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  form button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  footer {
    background-color: #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos específicos para dispositivos móviles */
  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
    }
    
    h2 {
      font-size: 20px;
    }
    
    li {
      margin-bottom: 20px;
    }
    
    form input,
    form textarea {
      margin-bottom: 10px;
    }
    
    form button[type="submit"] {
      font-size: 14px;
      padding: 5px 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 600px;
  }
  
  form label,
  form input,
  form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  form label {
    font-size: 20px;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  form textarea {
    resize: none;
    height: 150px;
  }
  
  form button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0062cc;
  }

  .mission-vision {
    display: flex;
    justify-content: space-around;
  }
  
  .mission-vision .mission,
  .mission-vision .vision {
    width: 45%;
    text-align: center;
  }
  
  .mission-vision h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .mission-vision p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  En
  